section {
    height: 80vh;
    max-width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding-top: 18vh;
    gap: 4em;
    position: relative;
    color: var(--tertiary-color-light);
}