section {
  height: 80vh;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18vh;
  gap: 4em;
  position: relative;
}